body {
    background: linear-gradient(135deg, #7D3C98 0%, black 100%);
    height: 100vh;
    margin: 0%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    color: white;
    font-family: Arial, sans-serif;

}

header {
    background-color: black;
    color: white;
    margin: 0%;
    padding: 10px; 
    text-align: center; 
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
}

nav {
    background-color: black;
    display: flex; 
    justify-content: center; 
    padding: 10px 5px;
    top: 0;
    z-index: 1000;

    align-items: center;
    gap: 15px;
}

nav a {
    color: white; 
    padding: 10px;
    text-decoration: none; 
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 15px; 
    transition: background-color 0.3s;
    line-height: 200%; 
    border-radius: 10px;
    
}

nav a:hover {
    background-color: #7d3c98;
    border-radius: 10px;
}


.logo {
    height: 50px; /* Ajusta el tamaño de la imagen */
}


.section1 {
    margin: 0%;
    padding: 10px;
    text-align: center;
}

.section2 {
    margin: 0%;
    padding: 10px;
    text-align: center;
}

.section3 {
    margin: 0%;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 80%;  /* La imagen no será más grande que su contenedor */
    height: auto;  /* Mantiene la proporción de la imagen */
    display: block;  /* Evita espacios extra debajo de la imagen */
    margin: 0 auto;  /* Centra la imagen horizontalmente */
    border-radius: 10px;  /* Bordes redondeados opcionales */
    object-fit: contain;  /* Asegura que la imagen se ajuste sin deformarse */
}

.section4 {
    margin: 0%;
    padding: 10px;
    text-align: center;
}

/* ======== TABLA ======== */
.table {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.table thead th {
    background-color: #212529;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.tabla-contenedor {
    max-width: 1000px;   /* o el tamaño que prefieras */
    margin: 0 auto;     /* centra horizontalmente */
}




/* ======== Pie de pagina ======== */
.sobre-mi {
    flex: 1 1 35%; 
    background-color: #17202a;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-mi h2 {
    color: #ecf0f1;
    text-align: center;
}

.sobre-mi p {
    color: #ecf0f1;
    background-color: #1c2833 ;
    line-height: 1.6;
    font-size: 1.1em;
    margin: 20px auto; 
    padding: 10px; 
    border: 2px solid #7d3c98; 
    border-radius: 8px; 
    width: 60%; 
    box-sizing: border-box; 
    text-align: center;
}

.sobre-mi img {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 50%;
}



footer p {
    text-align: center;
}