<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAJE</title>
</head>
<body>
    <div class= "conteiner">
    <form data-th-object="${/nuevaMateria}"
    th:action="@{'/guardarMateria'}" method="post">

    <div class="mb-e">
        <label class="form-label">Vehiculos </label> 
        <input type="number"> data-th-field= "{vehiculos.patente}">

         <label class="form-label">Usuarios </label> 
         <select th:field="{*id}" class="form-control" required>
        <option value="">seleccionar usuario...</option>
        <option th:each="usuario:${lista}" th value="${usuario.dni}"
        th:text="${usuario.nombre + ' ' + usuario.apellido}" ></option>
        
        </select>
    </div>
    <button typo=" submit" class="btn btn-primary">ENVIAR</button> 
</form>
 </div>
</body>
</html>