<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VIAJE</title>
</head>
<body>

<div class="container">

    <form th:object="${nuevoViaje}" th:action="@{/guardarViaje}" method="post">

        <!-- TIPO DE VIAJE -->
        <label>Tipo de Viaje</label>
        <select th:field="*{tipViaje}" class="form-control" required>
            <option value="">Seleccionar tipo...</option>
            <option value="CORTO">Corto</option>
            <option value="MEDIO">Medio</option>
            <option value="LARGO">Largo</option>
        </select>

        <br>

        <!-- USUARIO -->
        <label>Usuarios</label>
        <select th:field="*{usuario.dni}" class="form-control" required>
            <option value="">Seleccionar usuario...</option>
            <option th:each="usuario : ${lista}"
                    th:value="${usuario.dni}"
                    th:text="${usuario.nombre + ' ' + usuario.apellido}">
            </option>
